<nav class="top-nav">
    <a class="brand" href="">HotelStay</a>
    <div class="nav-links">
        <NavLink href="hotels" Match="NavLinkMatch.Prefix" class="nav-link">Hotel Search</NavLink>
    </div>
</nav>
